<mat-card>
  <div>Note</div>
  <div>
    <ul>
      <li>Action: {{note.action}}</li>
      <li>Priority: {{note.priority}}</li>
      <li>Estimate Hours: {{note.estHours}}</li>
      <li>Actual Hours: {{note.actHours}}</li>
      <li>Done: {{note.done}}</li>
    </ul>
    <button
      mat-button color="primary"
      (click)="onCompleteNote()"
      [disabled]="note.done">
      Done
    </button>
    <button
      mat-button color="primary"
      (click)="onEditNote()">
      Edit
    </button>
  </div>
</mat-card>
