<mat-card>
  <mat-card-title class="messages__title">
    <h4>Messages</h4>
    <button mat-button color="primary" (click)="onClose()">x</button>
  </mat-card-title>

  <mat-card-content>
    <textarea [(ngModel)]="message"></textarea>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" (click)="onSend()">Send</button>
  </mat-card-actions>

  <mat-card-content *ngFor="let message of messagesService.getMessages()" class="messageList">
    {{ message }}
  </mat-card-content>
</mat-card>
