:host, .container {
  min-height: 100vh;

  // flex
  display: flex;
  flex-direction: column;
}

.sideNav {
  padding: 20px;
}

.menuLink {
  width: 90%;
  margin: 10px;
  text-align: center;
}

.menuLink__icon {
  margin: 8px;
}

.main {
  min-width: 100%;
  min-height: 100%;

  // colors
  background-color: #313940;
  color: #fff;
}

.messages__container {
  height: 100%;
  // flex
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a {
	text-decoration: none;
	outline: none;
}

ul, li {
	list-style: none;
}
