<mat-drawer-container class="container">
  <mat-drawer #drawer mode="push" class="sideNav">
    <mat-list role="list">
      <li routerLinkActive #rla1="routerLinkActive">
        <a
          mat-button
          [color]="rla1.isActive ? 'accent' : 'basic'"
          class="menuLink"
          routerLink="/home"
        >
          <mat-icon class="menuLink__icon">home</mat-icon>
          Home
        </a>
      </li>
      <li routerLinkActive #rla2="routerLinkActive">
        <a
          mat-button
          [color]="rla2.isActive ? 'accent' : 'basic'"
          class="menuLink"
          routerLink="/about"
        >
          <mat-icon class="menuLink__icon">auto_stories</mat-icon>
          About
        </a>
      </li>
      <li routerLinkActive #rla3="routerLinkActive">
        <a
          mat-button
          [color]="rla3.isActive ? 'accent' : 'basic'"
          class="menuLink"
          routerLink="/notes"
        >
          <mat-icon class="menuLink__icon">note_alt</mat-icon>
          Notes
        </a>
      </li>
      <li routerLinkActive #rla4="routerLinkActive">
        <a
          mat-button
          [color]="rla4.isActive ? 'accent' : 'basic'"
          class="menuLink"
          routerLink="/users"
        >
          <mat-icon class="menuLink__icon">people</mat-icon>
          Users
        </a>
      </li>
      <li routerLinkActive #rla5="routerLinkActive">
        <a
          mat-button
          [color]="rla5.isActive ? 'accent' : 'basic'"
          class="menuLink"
          routerLink="/admin"
        >
          <mat-icon class="menuLink__icon">admin_panel_settings</mat-icon>
          Admin
        </a>
      </li>
      <li routerLinkActive #rla6="routerLinkActive">
        <a
          mat-button
          [color]="rla6.isActive ? 'accent' : 'basic'"
          class="menuLink"
          routerLink="/auth"
        >
          <mat-icon class="menuLink__icon">login</mat-icon>
          Log-in/out
        </a>
      </li>
    </mat-list>
  </mat-drawer>

  <mat-grid-list cols="4" rowHeight="10vh" class="main">
    <mat-grid-tile colspan="4" rowspan="1">
      <app-header>
        <div>
          <button
            type="button"
            mat-icon-button
            color="accent"
            (click)="drawer.toggle()"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </app-header>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="9">
      <app-spinner *ngIf="spinnerService.isVisible()"></app-spinner>
      <router-outlet></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="9">
      <div class="messages__container">
        <button
          mat-button
          color="primary"
          *ngIf="!messagesService.isDisplayed"
          (click)="onDisplayMessages()"
        >
          Show Messages
        </button>
        <router-outlet name="messages"></router-outlet>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-drawer-container>
