.sharp {
  position: relative;
  z-index: 3;
}

.piano-key {
  width: 80px;
  height: 270px;
  margin: 4px;
  border-radius: 0px 0px 12px 12px;
  transition: 0.3s;
  cursor: pointer;
  // colors
  background-color: #e0e1e3;

  &:hover {
    // colors
    background-color: #fff;
  }

  &.sharp {
    position: absolute;
    bottom: -26px;
    left: -31px;
    width: 54px;
    height: 170px;
    border-radius: 0px 0px 9px 9px;

    // colors
    background-color: #313940;

    &:hover {
      // colors
      background-color: #212121;
    }
  }
}

.sharp .piano-key-name {
  position: absolute;
  top: -184px;
  left: -31px;
}

.piano-key-name {
  margin: 4px;
  width: max-content;

  // flex
  display: flex;
  justify-content: center;

  // colors
  color: #fff;
}
